<section>
  <h2>This is home page | for this demo.</h2>
  <p>welcome to home page</p>
  <button>Read More</button>
  <ul>
    {{#each products}}
      <li>
        <h2> {{title}} </h2>
        <img src="{{imageUrl}}" alt="" />
        <p> {{description}} </p>
        <p> {{price}} </p>
        <p> {{details}} </p>
      </li>
    {{/each}}
  </ul>
</section>