<li>
  <h2> {{title}} <span> &#9829; {{likes.length}} </span> </h2>
  <img
    src="{{imageUrl}}"
    alt="{{title}}"
    style="height: 300px; width: 250px; object-fit:cover"
  />
  {{!-- <p> {{description}} </p> --}}
  <p> {{price}}€ </p>
  <a href="/plants/{{id}}/details"> Details </a>
</li>