<section>
  <img src="{{product.imageUrl}}" alt="{{product.title}}" />
  <h3> {{product.title}} </h3>
  <p> {{product.details}} </p>
  <a href="/plants/{{product.id}}/edit">Edit</a>
  <a href="/plants/{{product.id}}/delete">Delete</a>
</section>