<section>
  <img src="{{product.imageUrl}}" alt="{{product.title}}" />
  <h3> {{product.title}} </h3>
  <p> {{product.description}} </p>
  <a href="/plants/{{product.id}}/edit">Edit</a>
  <a href="/plants/{{product.id}}/delete">Delete</a>

  <span> &#9829; {{likes}} </span>
  {{#if liked}}
    <p>You have already like this Product.</p>
  {{else}}
    <p class="">
      <a href="/plants/{{product.id}}/like"> Like </a>
    </p>
  {{/if}}
</section>